<html>
<head>
    <title>just show test image</title>
</head>
<body>

<header>
    <a href="search">search</a>
</header>
<pre>
rms = math.sqrt(
reduce(operator.add, list(map(lambda a, b: (a - b) ** 2, h1, h2)))
/
len(h1)
)
</pre>
{% for package in package_image %}
<ul>
    {% for i in package %}

    <li>
        <img style="width:80px;height:80px;" src="{{ i['origin_img'] }}"/>
        <img style="width:80px;height:80px;" src="{{ i['url'] }}"/>
        <img style="width:80px;height:80px;  background-color:{{ i['color'] }}">
        <span><b>base:</b>{{ i['code'] }}</span>//
        <span><b>mes:</b>{{ i['code2'] }}</span>//
        <span><b>perceptualHash:</b>{{ i['code3'] }}</span>

        <br>
    </li>

    {% end %}
</ul>
{% end %}


</body>
</html>