<html>
<head>
    <title>just show test image</title>
</head>
<body>
{% include nav.html %}

<pre>
rms = math.sqrt(
reduce(operator.add, list(map(lambda a, b: (a - b) ** 2, h1, h2)))
/
len(h1)
)
</pre>
{% for package in package_image %}
<table>
    {% for i in package %}

    <tr>
        <td><img style="width:110px;height:110px;" src="{{ i['origin_img'] }}"/></td>
        <td><img style="width:110px;height:110px;" src="{{ i['url'] }}"/></td>
        <td><img style="width:110px;height:110px;  background-color:{{ i['color'] }}"></td>
        <td><span><b>base:</b>{{ i['code'] }}</span></td>
        <td><span><b>mes:</b>{{ i['code2'] }}</span></td>
        <td><span><b>perceptualHash:</b>{{ i['code3'] }}</span></td>
        <td><span><b>color:</b>{{ i['code4'] }}</span></td>
    </tr>

    {% end %}
</table>
{% end %}
</body>
</html>
